h1 Mongoose Project Management
h2= name
p Name: #{name}
p Contact Number: #{contact}
p Email: #{email}
h3 Actions
  ul
    li
      a(href="/user/edit") Edit user info
    li
      a(href="/user/delete") Delete #{name}
    li
      a(href="/logout") Logout #{name}

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
block headjs
  script var contact = #{contact};
  script(src="/javascripts/user/user.js")

 h3 My Drug Potfolios
 ul
    li
      a(href="/prescription/new") Create a prescription
 ul#myprescriptions
   li loading...